<!DOCTYPE html>
<html>
<body class="landing12">
	<div class="container">
		 <center>
		 <div class="enterimg">
		  <%= link_to (image_tag "enter.png"), posts_path %>
			 	
		</div></center>
		 </div>	 
 
</body>
</html>

